@font-face {
  font-family:"FS Me";
  font-style:normal;
  font-weight:200;
  src:url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.eot?") format("eot"),
      url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.woff") format("woff")
}

@font-face {
  font-family:"FS Me";
  font-style:normal;
  font-weight:400;
  src:url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.eot?") format("eot"),
      url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.woff") format("woff")
}

@font-face {
  font-family:"FS Me";
  font-style:bold;
  font-weight:600;
  src:url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.eot?") format("eot"),
      url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.woff") format("woff")
}

@font-face {
  font-family:"FS Me";
  font-style:bold;
  font-weight:800;
  src:url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"),
      url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.woff") format("woff")
}
