.callout {
  background:#fffbcc;
  border-left:3px solid #ffed00;
  font-weight:bold;
  padding:15px 15px 10px 15px;
}

.callout:after {
  content: "";
  display: table;
  clear: both;
}

.u-align-centre {
  text-align:center;
}

.u-clear {
  clear:both;
}

.u-margintop40 {
  margin-top:40px;
}

.u-block {
  display:block;
}

.inhaler__img {margin-top:0; vertical-align:top !important;}

.callout-less {font-weight:bold;}

.callout--info {
  background:#f1f7fc;
  border-color:#0065b5;
  border-style:solid;
  border-width:0 0 0 6px;
  font-size:16px;
  font-weight:normal;
  margin-bottom:30px;
  padding:20px 16px !important;
  width:33.333%
}

.callout--info--full {
  width:100%;
}

.callout--info h3 {
  font-size:19px;
}


@media (max-width: 480px) {

  .callout--info {
    padding:10px !important;
  }

  .callout--info h3 {
    font-size:16px;
    margin-bottom:10px;
  }

}


.callout--diagram {
  background:#f1f7fc;
  border-color:#0065b5;
  border-style:solid;
  border-width:0 0 0 6px;
  margin:40px 0;
  padding:26px 0 16px 0;
}

.callout--diagram h3 {
  font-size:20px;
  margin:0;
}

.callout--diagram__container-right {
  border-right:2px solid #000;
  position:relative;
}

.callout--diagram__container-left {
  border-left:2px solid #000;
  position:relative;
}

.callout--diagram__notch--top-right {
  background:#000;
  display:block;
  height:2px;
  position:absolute;
  right:0;
  width:10px;
}

.callout--diagram__notch--bottom-right {
  background:#000;
  bottom:0;
  display:block;
  height:2px;
  position:absolute;
  right:0;
  width:10px;
}

.callout--diagram__notch--top-left {
  background:#000;
  display:block;
  height:2px;
  position:absolute;
  left:0;
  width:10px;
}

.callout--diagram__notch--bottom-left {
  background:#000;
  bottom:0;
  display:block;
  height:2px;
  position:absolute;
  left:0;
  width:10px;
}

.callout__text-top {
  left:45%;
  position:absolute;
  top:0;
}

.callout__text-middle {
  position:relative;
}

.notch-left {
  background:#000;
  display:block;
  height:2px;
  left:0;
  position:absolute;
  top:1.3em;
  width:30px;
}

.notch-right {
  background:#000;
  bottom:1.3em;
  display:block;
  height:2px;
  right:0;
  position:absolute;
  width:30px;
}

@media (min-width: 1280px) {
  .notch-left {
    width:50px;
  }

  .notch-right {
    width:50px;
  }
}

.info-pills {
  list-style:none;
  list-style-position:inside;
  margin:20px 0 0 0;
  padding:0;
}

.info-pills__item {
  display:inline-block;
  margin:0 8px 20px 0;
  text-align:center;
}

.info-pills__item:last-child {
  margin-right:0;
}

.info-pills__img {
  float:left;
  height:35px;
  margin-top:0;
  width:35px;
}

.info-pills__time {
  border:2px solid #000;
  border-radius:3px;
  display:inline-block;
  font-size:16px;
  font-weight:normal;
  margin-left:10px;
  margin-top:3px;
  padding:4px 10px 3px 10px;
}

.info-pills__dosage {
  display:block;
  font-size:14px;
  font-weight:normal;
  margin-top:0;
}

.callout__col {
  display:table-cell;
}

.callout__col--float {
    display:block;
    float:left;
    margin-top:0;
}

.callout__col--middle {
  position:relative;
  vertical-align:middle;
}

.callout__caption {
  display:none;
}

.callout--diagram__col {
  display:none;
}

.u-align-centre .info-pills__item {
  display:block;
  margin:0 auto 15px auto;
}

.u-align-centre .info-pills__img {
  float:none;
}

.u-align-centre .info-pills__time {
  display:inline-block;
  margin-left:0;
}

.callout--diagram__box {
  background:#fff;
  border:2px solid #000;
  margin:0 0 0 30px;
  padding:15px 15px 10px 15px;
}

.icon-clock-bg {
  background:url(../assets/images/icons/clock-icon.png) left 34px no-repeat;
  margin:0 30px;
  padding:30px 0 5px 30px;
}

.callout__col--float__middle {
  margin-left:30px;
  margin-top:5px;
}

@media (max-width: 480px) {
  .callout__col {
    float:none;
    width:100%;
  }
  .callout__col--middle {
    margin:40px 0;
  }

  .callout__col--float {
    float:left;
    width:auto;
  }

  .callout__col--float__middle {
    margin-left:15px;
    margin-top:0;
  }

  .callout--diagram__box {
    background:#fff;
    border:2px solid #000;
    margin:0 0 0 15px;
    padding:10px 10px 5px 10px;
  }

  .icon-clock-bg {
    background-position:left 21px;
    margin:0 15px;
    padding:25px 0 5px 30px;
  }

}

.callout__col--row {
  display:table-cell;
  width:34%;
}

@media (max-width: 640px) {

  .callout-col--larger {
    width:60%;
  }

  .callout--diagram .callout__col--row:last-child h3 {
    margin-top:40px;
  }

  .callout__col--hide {
    display:none;
  }

  .callout__col--row {
    display:table-row;
  }

  .callout--diagram__container-right {
    position:relative;
  }

  .callout--diagram__notch-middle {
    background:#000;
    display:block;
    height:2px;
    position:absolute;
    margin-top:15px;
    width:8%;
  }

  .callout__caption {
    display:block;
  }

  .callout--diagram__col {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:40%;
  }

  .callout--diagram__container-left {
    border-left:0;
    border-right:2px solid #000;
  }

  .callout--diagram__notch--top-left,
  .callout--diagram__notch--bottom-left {
    left:auto;
    right:0;
  }

  .callout__col--second {
    padding-top:40px;
  }

  .callout__col--full h4 {
    font-size:19px;
  }

}
